
<br />
<br />


<table  class="table" st-pipe="callServer" st-table="displayed">
    <thead search-watch-model="query">
        <tr>
            <!--<th st-sort="id">id</th>-->
            <th st-sort="title">title</th>
            <th st-sort="nodeDepth">Node Depth</th>
            <th st-sort="parentId">Parent ID</th>
            <th st-sort="createdTime">Created Time</th>
            <th st-sort="priority">Priority</th>
            <th st-sort="stampTime">Stamp Time</th>
        </tr>
        <tr>
            <th colspan="1">
                <input placeholder="title" st-search="title" class="input-sm form-control" />
            </th>
            <th>
                <st-number-range predicate="nodeDepth" from="query.lower" to="query.higher"></st-number-range>
            </th>
            <th width="20%">
                <hierarchical-selector load-child-items="loadAsyncData(parent)" predicate="parentId" on-selection-changed="parentId = onSelectionChanged(items); "></hierarchical-selector>
            </th>
            <th width="15%">
                <st-date-range predicate="createTime" before="query.from" after="query.to"></st-date-range>
            </th>
            <th>
                <st-number-range predicate="priority" from="query.fromPriority" to="query.toPriority"></st-number-range>
            </th>
            <th width="15%">
                <st-date-range predicate="stampTime" before="query.fromStampTime" after="query.toStampTime"></st-date-range>
            </th>
        </tr>

    </thead>
    <tbody ng-show="!isLoading">
        <tr ng-repeat="row in displayed">
            <!--<td>{{row.CategoryId}}</td>-->
            <td>{{row.Cat_Title}}</td>
            <td>{{row.Cat_NodeDepth}}</td>
            <td>{{row.ParentCat_Title}}</td>
            <td>{{row.Cat_CreateTime}}</td>
            <td>{{row.Cat_Priority}}</td>
            <td>{{row.Cat_StampTime}}</td>
        </tr>
    </tbody>
    <tbody ng-show="isLoading">
        <tr>
            <td colspan="4" class="text-center">Loading ... </td>
        </tr>
    </tbody>
    <tfoot>
        <tr>
            <td class="text-center" st-pagination="" st-items-by-page="2" colspan="4"></td>
        </tr>
    </tfoot>
</table>	