
<div class="row">
    <div class="col-lg-4">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Change Password</h3>
            </div>
            <div class="panel-body">

                <form >

                    <div class="form-group">
                        <label for="oldPassword">Old Password</label>
                        <input type="password" ng-model="oldPassword" class="form-control" id="oldPassword" placeholder="Old Password">
                    </div>
                    <div class="form-group">
                        <label for="password">New Password</label>
                        <input type="password" ng-model="newPassword" class="form-control" id="newPassword" placeholder="New Password">
                    </div>
                    <div class="form-group">
                        <label for="password">Confirm Password</label>
                        <input type="password" ng-model="confirmPassword" class="form-control" id="confirmPassword" placeholder="Confirm Password">
                    </div>
                    <!--<input type="submit" class="btn btn-default" value="Login" />-->
                    <button type="button" ng-click="changePassword() " class="btn btn-default">Change Password</button>
                </form>

            </div>
        </div>
    </div>
    <div class="col-lg-8">

        <table class="table table-hover">
            <tr ng-repeat="user in users ">
                <td>
                    <span editable-text="itemCategory.category" e-name="category" e-form="rowform" e-required>
                        {{user.userName || 'empty'}}
                    </span>
                </td>
                <td>
                    <span editable-text="itemCategory.saleTax" e-name="saleTax" e-form="rowform" e-required>
                        {{user.password || 'empty'}}
                    </span>
                </td>
                <td style="white-space: nowrap">
                    <!-- form -->
                    <form editable-form name="rowform" onbeforesave="updateItemCategory($data, itemCategory.id)" ng-show="rowform.$visible" class="form-buttons form-inline" shown="inserted == itemCategory">
                        <button type="submit" ng-disabled="rowform.$waiting" class="btn btn-primary">
                            save
                        </button>
                        <button type="button" ng-disabled="rowform.$waiting" ng-click="rowform.$cancel()" class="btn btn-default">
                            cancel
                        </button>
                    </form>
                    <div class="buttons" ng-show="!rowform.$visible">
                        <button class="btn btn-primary" ng-click="rowform.$show()">edit</button>
                        <button class="btn btn-danger" ng-click="deleteItemCategory(itemCategory.id)">delete</button>
                    </div>
                </td>
            </tr>
        </table>
    </div>
</div>